BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: Never
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortLambdasOnASingleLine: None
AllowShortCaseLabelsOnASingleLine: false
BreakBeforeBraces: Attach
SortIncludes: Never
---
Language: CSharp
BreakBeforeBraces: Allman
---
Language: Java
BreakBeforeBraces: Attach
